:root {
	--primary-text-color: #606367;
	--secondary-text-color: #757575;
	--thirdy-text-color: #777b7e;
	--menu-text-color: #414244;
	--page-line-color: #edeff1;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/fonts/product-sans-bold-italic.ttf");
	font-weight: bold;
	font-style: italic, oblique;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/fonts/product-sans-italic.ttf");
	font-style: italic, oblique;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/fonts/product-sans-bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Product Sans";
	src: url("../assets/fonts/product-sans-regular.ttf") format("truetype");
}

body {
	font-family: "Product Sans", sans-serif;
	font-smooth: subpixel-antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

.navbar {
	display: grid;
	grid-template-columns: 254px 1fr auto;
	height: 64px;
	border-bottom: 1px solid var(--page-line-color);
}

.navbar__brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navbar__hamburger {
	margin: 0px 27px;
}

.navbar__gmail-logo {
	margin-right: 16px;
}

.navbar__gmail-text {
	font-size: 22px;
	line-height: 26px;
	color: var(--primary-text-color);
}

.navbar__hamburger-line {
	width: 18px;
	height: 2px;
	background-color: var(--primary-text-color);
	margin: 3px 0;
}

.navbar__search-bar {
	display: flex;
	align-items: center;
}

.navbar__search-form {
	position: relative;
}

.navbar__search-input {
	width: 40vw;
	height: 48px;
	background-color: #f5f5f5;
	border-radius: 3px;
	border: none;
	padding-left: 72px;
}

.navbar__search-input:focus {
	outline: none;
}

.navbar__search-input::placeholder {
	color: var(--primary-text-color);
	font-family: "Product Sans", sans-serif;
	font-size: 17px;
	opacity: 1;
}

.navbar__search-input::-ms-input-placeholder,
.navbar__search-input:-ms-input-placeholder {
	color: var(--primary-text-color);
	font-family: "Product Sans", sans-serif;
	font-size: 17px;
}

.navbar__search-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 16px;
	top: 16px;
}

.navbar__drop-arrow-icon {
	position: absolute;
	width: 10px;
	height: 5px;
	right: 21px;
	top: 22px;
}

.navbar__g-suite {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar__help-icon {
	width: 20px;
	height: 20px;
}

.navbar__settings-icon {
	width: 20px;
	height: 20px;
	margin-left: 29px;
}

.navbar__apps-icon {
	width: 16px;
	height: 16px;
	margin-left: 29px;
}

.navbar__google-g-icon {
	width: 24px;
	height: 24px;
}

.navbar__card-text {
	font-size: 24px;
	color: var(--secondary-text-color);
}

.navbar__avatar {
	width: 32px;
	height: 32px;
}

.navbar__g-suite-card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 134px;
	height: 48px;
	border: 1px solid #dadce0;
	border-radius: 8px;
	margin-right: 16px;
	margin-left: 20px;
}

.mainly-content {
	display: grid;
	grid-template-columns: 254px 1fr 56px;
	height: calc(100vh - 64px);
}

.left-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-right: 1px solid var(--page-line-color);
}

.menu-categories {
	width: 100%;
	height: 100%;
}

.menu-categories__button {
	width: 144px;
	height: 48px;
	background-color: white;
	border-radius: 27px;
	border: none;
	box-shadow: 0px 1px 4px rgba(126, 126, 126, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 24px 12px;
}

.menu-categories__button:focus {
	outline: none;
}

.menu-categories__button-img {
	width: 24px;
	height: 24px;
}

.menu-categories__button-text {
	font-family: "Product Sans", sans-serif;
	margin-left: 12px;
	font-size: 16px;
	color: var(--thirdy-text-color);
}

.menu-categories__table-row,
.menu-meet__table-row {
	height: 32px;
}

.menu-categories__category,
.menu-meet__category {
	width: 135px;
	position: relative;
}

.menu-categories__counter > p,
.menu-categories__category > p,
.menu-meet__category > p {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: var(--menu-text-color);
	top: 9px;
}

.menu-categories__counter {
	padding-right: 15px;
}

.menu-categories__icon,
.menu-meet__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 26px;
	height: 32px;
}

.menu-meet {
	width: 100%;
	height: 180px;
	border-top: 1px solid var(--page-line-color);
}

.right-menu {
	border-left: 1px solid var(--page-line-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 32px;
	align-items: center;
	padding-top: 16px;
}

.right-menu__app-icon {
	width: 20px;
	height: 20px;
}

.right-menu__separator {
	width: 16px;
	height: 1px;
	background-color: var(--page-line-color);
}

.menu-meet__title {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0px 12px 24px;
}

.view-mail {
	display: grid;
	grid-template-rows: 176px 1fr;
}

.view-mail__header {
	display: grid;
	grid-template-rows: 48px 72px 56px;
}

.view-mail__header-buttons {
	display: flex;
	justify-content: space-between;
}

.view-mail__header-left-buttons {
	display: flex;
	gap: 20px;
	align-items: center;
}

.view-mail__header-left-buttons > img:first-child {
	margin-left: 17px;
	margin-right: 8px;
}

.view-mail__header-separator {
	width: 1px;
	height: 16px;
	background-color: var(--page-line-color);
}

.view-mail__header-right-buttons {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.view-mail__header-paginator {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #818488;
	white-space: nowrap;
	margin-right: 26px;
}

.view-mail__header-right-buttons > img {
	margin-right: 35px;
}

.view-mail__header-title {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #edeff1;
}

.view-mail__header-title-left {
	display: flex;
	align-items: center;
	gap: 15.5px;
	color: #202124;
}

.view-mail__header-title-text {
	margin-left: 88px;
	font-size: 22px;
	line-height: 24px;
}

.view-mail__category-card {
	background-color: #e0e0e0;
	display: inline-block;
	width: 50px;
	height: 18px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 4px;
	color: #666666;
}

.view-mail__category-card-text {
	font-size: 11px;
}

.view-mail__category-card-close {
	font-size: 8px;
}

.view-mail__header-title-right > img:first-child {
	margin-right: 24px;
}

.view-mail__header-title-right > img:last-child {
	margin-right: 28.5px;
}

.view-mail__header-from {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.view-mail__header-from-start {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	display: flex;
	align-items: center;
	color: #818488;
}

.view-mail__header-from-unsubscribe {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
	margin-left: 3px;
}

.view-mail__header-from-to-me {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.view-mail__header-from-to-me > img {
	margin-left: 7.67px;
}

.view-mail__header-from-start strong {
	color: #353638;
}

.view-mail__header-from-start > img {
	margin-left: 32px;
	margin-right: 16px;
	width: 40px;
	height: 40px;
}

.view-mail__header-from-end {
	display: flex;
	gap: 21px;
}

.view-mail__header-from-end > p {
	font-family: Roboto, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #818488;
}

.view-mail__header-from-end > img:last-child {
	margin-left: 8px;
	margin-right: 34px;
}

.view-mail__body {
	height: 100%;
	background-color: #ebfaff;
}

.mail {
	display: grid;
	grid-template-rows: 370px 382px;
	width: 660px;
	margin: 31px auto 0px auto;
}

.mail__top {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.mail__top-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #04bdff;
}

.mail__top-left > span {
	font-size: 40px;
	line-height: 45px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.mail__top-left > a {
	display: flex;
	gap: 9px;
	width: 110px;
	height: 36px;
	border: 1px solid white;
	border-radius: 4px;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	justify-content: center;
	align-items: center;
	margin-top: 35px;
}

.mail__top-right {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0397cc;
}

.mail__botton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background-color: white;
}

.mail__botton-card {
	background-color: #04bdff;
	width: 180px;
	height: 254px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mail__botton-card > img {
	width: 40px;
	height: 40px;
}

.category-selected {
	background-color: #fce8e7;
}

.category-selected-end {
	background-color: #fce8e7;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
